.box-photo{    
    display: flex;
    justify-content: center;
    }
    
.card-img-top img{
    max-width:85%;
    height:auto;
    margin-top: 16px;
}

.card-header p{
    color: black;
    font-size: 1.2rem;
}

.card-body h3{
    font-size: 3.2rem;
}

.card-body p{
    font-size: 1.2rem;
}